@model ReporteTransaccionesDetalladas

@{
    var resumenMontos = new ResumenMontosViewModel()
    {
        Ingresos = Model.BalanceDepositos,
        Gastos = Model.BalanceRetiros,
        Total = Model.Total
    };
}

<!-- VISTA PARCIAL DE MOVIMIENTO DEL REPORTE EN ./SHARED/ 📁 PARA SER REUTILIZALE -->

<partial name="_NavegarPorMeses" model="@Model.FechaInicio"/>

<br />
<!--vista parcial del resumen de la cuenta-->
<partial name="_ResumenMontos" model="@resumenMontos" />

<!--informacion de las transacciones-->
@if (Model.TransaccionesAgrupadas.Count() == 0)
{
    <!--Mensaje No encontrado-->
    <div style="padding: 20px 0;align-items: center; color: royalblue; font-family: Calibri;">

        <h1 style="font-size: 60px">:(</h1>
        <h3>No hay datos para mostrar</h3>
        <p>No se han realizado operaciones en este mes, ¿Cree que olvido algo? agrege una nueva transaccion.</p>

    </div>
}
else
{
    <table class="table rounded rounded-3 overflow-hidden">

        <tbody>
            @foreach (var transaccionAgrupada in Model.TransaccionesAgrupadas)
            {
                <tr style="background-color: lightcyan; font-size: 26px;">

                    <td colspan="3">
                        @transaccionAgrupada.FechaTransaccion.Day
                        <span class="badge bg-info">
                            @transaccionAgrupada.FechaTransaccion.ToString("ddd")
                        </span>
                    </td>

                    <td class="activo">@transaccionAgrupada.BalanceDepositos.ToString("N")</td>

                    <td class="pasivo">@transaccionAgrupada.BalanceRetiros.ToString("N")</td>

                </tr>

                <!--Transacciones de la transaccion agrupada por fecha-->
                @foreach (var transaccion in transaccionAgrupada.Transacciones)
                {
                    <tr style="vertical-align: middle">
                        <td>
                            <a asp-controller="Transacciones" asp-action="Editar" asp-route-id="@transaccion.Id" asp-route-urlRetorno="@ViewBag.urlRetorno">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>

                        <td>@transaccion.Categoria</td>

                        <td>@transaccion.Cuenta</td>

                        <td class="activo">
                            @(transaccion.TipoOperacionId == TipoOperacion.Ingreso ? transaccion.Monto.ToString("N") : "N/A")
                        </td>

                        <td class="pasivo">
                            @(transaccion.TipoOperacionId == TipoOperacion.Gasto ? transaccion.Monto.ToString("N") : "N/A")
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
}
